### Scratchpad

In [38]:
import sqlite3
import pandas as pd
import os
conn = sqlite3.connect('mailchimp.db')
cursor = conn.cursor()

In [39]:
imported = pd.read_csv('clickup_imports.csv')
imported.head()

,Task ID,Task Name,Task Content,Status,Date Created,Date Created Text,Due Date,Due Date Text,Start Date,Start Date Text,...,Space Name,Time Estimated,Time Estimated Text,Checklists,Comments,Assigned Comments,Time Spent,Time Spent Text,Rolled Up Time,Rolled Up Time Text
0,272at38,ZAYNAH SERAPHINA REHANA BROWN,NaN,closed [lost],1.640770e+12,"12/29/2021, 1:16:06 PM GMT+4",NaN,NaN,NaN,NaN,...,AGE Group General,NaN,NaN,{},[],0,"""170895""",3 m,170895.0,3 m
1,272at2j,AYUSH KAROLIA ARVIND KAROLIA,NaN,closed [lost],1.640770e+12,"12/29/2021, 1:15:55 PM GMT+4",NaN,NaN,NaN,NaN,...,AGE Group General,NaN,NaN,{},"[{""text"":""To send email with agreement\n"",""by""...",0,"""858990""",14 m,858990.0,14 m
2,272at2e,VICTORIA MELINDA MILLS BROUILLET,NaN,intro call,1.640770e+12,"12/29/2021, 1:15:53 PM GMT+4",NaN,NaN,NaN,NaN,...,AGE Group General,NaN,NaN,{},"[{""text"":""To send her on whatsapp\n"",""by"":""ese...",0,"""148153""",2 m,148153.0,2 m
3,272aryj,HEINRICH CONRAD BEUKES,NaN,in-development,1.640770e+12,"12/29/2021, 1:15:05 PM GMT+4",NaN,NaN,NaN,NaN,...,AGE Group General,NaN,NaN,{},"[{""text"":""Follow-up made on our proposal via e...",0,"""1581764""",26 m,1581764.0,26 m
4,272aryr,ADEL HUSSAIN H ALSHASRMAN,NaN,intro call,1.640770e+12,"12/29/2021, 1:15:08 PM GMT+4",NaN,NaN,NaN,NaN,...,AGE Group General,NaN,NaN,{},"[{""text"":""To send agent offer details on whats...",0,"""306070""",5 m,306070.0,5 m

In [40]:
imported[' Task Name']

0         ZAYNAH SERAPHINA REHANA BROWN
1          AYUSH KAROLIA ARVIND KAROLIA
2      VICTORIA MELINDA MILLS BROUILLET
3                HEINRICH CONRAD BEUKES
4             ADEL HUSSAIN H ALSHASRMAN
                     ...
184    AHMED GHANIMSOHRAB MOHAMMED AHLI
185                    ABDELAZIZ DHOUIB
186    SHAIMA SAEED SAIF RASHID ALNAQBI
187                   KRISTINA SKALICKA
188    Abdulrazeq Mohamed Ahmed Mohamed
Name:  Task Name, Length: 189, dtype: object

In [41]:
#CONVERT THE EMAIL COLUMN INTO A STRING TO SQL PROCESSING
name_list = imported[' Task Name']
name_string= '('
for i in range(len(name_list)):
    if i < len(name_list)-1:
        name_string = name_string + f"'{name_list[i]}',"
    else:
        name_string = name_string + f"'{name_list[i]}'"
name_string= name_string + ")"
print(name_string)

('ZAYNAH SERAPHINA REHANA BROWN','AYUSH KAROLIA ARVIND KAROLIA','VICTORIA MELINDA MILLS BROUILLET','HEINRICH CONRAD BEUKES','ADEL HUSSAIN H ALSHASRMAN','ABDALQADER N A DARABAIH HESHMIYA','FATIMA LAHER','matthew andreas metaxas','ABDELHADY MOHAMED ABDELHADY MORSY','NINA JOSEPHINE KATHLEEN SWANN','CONNOR SAVAGE','MANJIT KAUR SANTA SINGH','HANI ISSA SALLOUM','Adnan Ali Zaman','HASNAIN NAEEM NAEEM GUL','MOUSTAFA W A ALMALLAHI','ZEESHAN ALI GHULAM MURTAZA','MALTI GUPTA RAJENDER PRASAD','ABDELLAH MAAREGUEB','IMRAN ILYAS ILYAS','MOHAMMAD AHMAD BAYAT','WENBIAO RONG','Ahmed Lababidi','MUHAMMAD JUNAID KHAN QAISER NASEEM KHAN','Mira Brandli - 1 Properties - Inquiry for Will Documentation','ROD VAFAEE','DHANESH KARIMBHACHAN BALAKRISHNAN BALAKRISHNAN KARIMBHACHAN AYYAPPAN','ADNAN NADEEM MUHAMMAD AKRAM NADEEM','JAMES ASHLY FOSTER','PIERCE SPENCER BENNETT','YOUSSOUF DAOUD NGOUH NJIKAM','Simon Poul Constant','KAI XIONG','MOHAMED ALMAS HARIB HARIB ALFALAHI','AHMAD ZAEEM ABID HAJI ABDUL SALAM','HOUSSAM MERHI','NASSER ISMAIL M N AL EMADI','ZIWEI ZHOU','Charlotte Watson','Jake Daniel Palmart','RAMONA ALEXANDRA CIOANA','Ali abdul Jabbar Abdulla Ali Gargash','ABDEL BASSET BETRAOUI','BIANCA BEATRICE BARBATOS','SABHA SHAIKH','MALIKA KAMLESH BAKSANI KAMLESH ASSANDAS BAKSANI','JOSEPH JOHN CHIFFI','Mohamed Arafath Hussein Rizvi','EUGENIA NITA','Ahmed Wael','MUTABAR KHAIDARZODA','UFUOMA VICTOR ESHALOMI','Alan Joseph Cuddihy','VINAY ABRAHAM THOMAS','AASIM AMINUDDIN AMIN UDDIN SHEIKASON','ABDUL JALEEL MOIDEEN','Faisal Iqbal Muhammad Iqbal','ALI ABDULKARIM ALI','MUHAMMAD ALI NAEEM MUHAMMAD NAEEM','TOBIAS DAMIAN MAY','ABBAS MOSTAFA SAIDI','CHRISTIAN EDWARD CURRAN','ASAD SHAHZAD TAHIR MEHMOOD','SOHAIB HASSAN MALIK TASSAWAR HUSSAIN JAFFARI','ABDUL RAHMAN MUTASIM ABDUL RAHMAN ADAS','SAIDA ALIYEVA','Yasin Jafari Tasmalu','ABDALLA MOHAMAD EZAT MOUALEM','IFEAKACHUKWU THEOPHILUS UGBOME','ABDELRAHIM SAADEH A ABUSAADEH','Manish Manohar Nagpal','ABDUL RAZA MAJEED ABDUL MAJEED','ROSEMARY PUNO BAUTISTA','KOLSOUM ABDULQHADIR AMANI','ABBAS MORTEZAGHOLI RAJAEI','OFELIA MANI GADICHO','VARUN KAPOOR DEVINDER KUMAR KAPOOR','Steven Colquhoun','ADAM WILKIN','EMILY EVA KADAR','ABDUL SAJEED ABDUL ABDUL ABDUL BASHEED','AASIM RADY ELSAID MOHAMMED HASSANIEN','NATHAN ANDREW BLAKE','MARYAM ALI MOHAMMED ALMUTAR ALNUAIMI','ANASTASIA BORZUNOVA','ABDEL HILA MOH ATHMANI','Abdelkeber Abaid','HAITHAM AHMED IBRAHIM MOHAMED ABOASSY','ABBAS ALA HAMID','TALHA BIN AKBAR SHER AKBAR','MOTASEM MOHD MAHMOUD OMUSH','TETIANA BARANETSKA','Kivanc Kilicer - Business set-up inquiry','Kai John Camfield','MORGAN ARWEL EMRHYS THOMAS','ABDUL BASIT ZARWALI KHAN','SANA SALAMAT SALAMAT JAN','ABDULAZIZ YOUSIF ALI MOHAMED BINHUWAIDEN','NOUMAN SAKHAWAT SAKHAWAT KHAN','AALIYAH HAZARI KHAN','ABDUL MUIZZ SHEIKH ASIM ATEEQ SHEIKH','AHMAD SALAH AHMAD ABDULRAHMAN BAYZAR','Tamimun Ansari Abdul Rasheed','SIDDHARTHA GHOSH ASHOKE KUMAR GHOSH','MUHAMMAD AREEB MAHENTI MUHAMMAD ALI','MUHAMMAD NAMATULLAH HAZOOR MUHAMMAD','ABD ELHAMID AHMAD ALSAFRA','MOHAMAD ALTABAA','Silvia Deanova Walsh','Saad A Soboh','HELEN ELIZABETH HUGHES','ANDREA FONTE','SALMAN ARFEEN SYED SHAMSUL ARFEEN','Elena Ionela Deliu','Akash','TETIANA ZAHER','JOSHUA ANTHONY BROOKS','ahmad asmail abdulla almas','Yervant Wartex Matassarian','KHURRAM ALI','LUKE ARCHDALE SMITH','SAFIYA SULAIMAN RASHID MATAR ALMATROOSHI','SHAHNAWAZ GHULAM NABI SHIEKH','Dina','MUHAMMAD YOUNIS MOHAMMAD BANI ISMAIL','ABDUL ANAS ABDUL HAMEED SAIDUTTY KOTTAYIL ABDUL HAMEED','ABDULHAMID AFOLABI A A O A GBADAMOSI','Abdul Wajid Abdul Majeed','JAHANGIR MEHMOOD BASHARAT ALI','ABDUL JALEEL THAYYULLATHIL KUNHAMMAD','ARFAN YAQOOB TABREZ','INZAMAM HAMID MEER HAMID MEER','IRFAN ASHFAQ ASHFAQ AHMED','ABDULHAMID KAMAL MANSOUR','NIDHEESH MUTHIRAKKAL PRABHAKARAN PRABHAKARAN ANIYERI','AHMED ELSAYED HUSSEIN ABDELMAWGOUD','ABDUL MOIZ SIDDIQUI FAREED AHMED SIDDIQUI','ABDUKODIR MAKHAMAT JUMAEVICH YOKUBOV','MOHAMMAD JUNAID SHAHID','ABDUL KARIM FIKRI BEN OTMAN','SVITLANA BALYAS','VALENTINA RYLSKAYA','SALEEM RAFIQ RAFIQ HAJI AZIZ AHMED AHMED','ABDUL WAHAJ SHAIKH ABDUL SAMI','MICHAEL JACK WILSON','NAWAAF MOHAMED ALI ALMULLA ALRAYSSI','LUIT BHUYAN LATE JAYANTA KUMAR BHUYAN','JUN YAGI','Yahya Sameer Hassan Mohammed Almehza','MARUJITA CABANESAS PEPITO','Azor Shams - Inquiry to make case against consultancy firm','AARTI DEVGUN SHARMA','NOUR SUBAI','Saeed Abdullah Al Roken Al Awadhi','YULIA NORMUKHAMEDOVA','DAMIR JAJETOVIC','RUSSELL SCOTT WILSON','MUOSAB ABDULRAHMAN HAMMADIH','MOHAMED HASSAN ELSAED MOHAMED ABOUELNASR','XIAOHUI ZHOU','AAMIR RAZA MUHAMMAD AKARM','ROBERT WILLIAM ENGLISH','LEE GEORGINA WESTON','Mirna Mamdouh Monir Elsayed','ZOYA ARSHAD FAROOQ','PRIYANK AGARWAL','ABDUL AZIM','ABDULAZIZ ABDULLA MOHAMMAD MURAD ALBALOOSHI','Tawanda Malvern Kawanzaruwa','ADEEL FAROOQ AMJAD FAROOQ CHATTHA','Maamoun Al Rachid - CEO','JAANA KRISTIINA MARKKANEN','ABDUL REHMAN KHALID KHALID HAMEED SHEIKH','SULTAN KHALIL IBRAHIM ALBALUSHI','MUDASIR MUSHTAQ MUSHTAQ AHMED WANI','WAQAS SHARAFAT SHARAFAT ALI','MUHAMMAD UMAIR ALI ABDUL GHAFOOR','MOHAMED SALAH ABDELWAHAB CHAHEN','CHRISTOPHER MATHIESON GIBSON','ABDUL KADER I EL JIZI','RYAN GREY','MUHAMMAD AMMAR RAZA SHAMAS UD DIN','MUHAMMAD SANAULLAH BASHIR AHMAD','ABBEY JAYNE PRIESTLEY','AHMED GHANIMSOHRAB MOHAMMED AHLI','ABDELAZIZ DHOUIB','SHAIMA SAEED SAIF RASHID ALNAQBI','KRISTINA SKALICKA','Abdulrazeq Mohamed Ahmed Mohamed')

In [42]:
#BASIC SEARCH OF NAMES IN CLICKUP WITHIN THE DB
filter = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE FULL_NAME IN {name_string}", conn)
filter

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,2,AALIYAH HAZARI KHAN,AALIYAH,KHAN,F A M REAL ESTATE BROKER L.L.C (BRANCH),aaliyah@famproperties.com,42775516,JAN_25,139,live,Y,None
1,7,AAMIR RAZA MUHAMMAD AKARM,AAMIR,AKARM,CIVIL ARCH REAL ESTATE BROKERS,aranjha333@gmail.com,43713401,JAN_25,1,live,Y,None
2,14,AARTI DEVGUN SHARMA,AARTI,SHARMA,ONE STOP REALTY REAL ESTATE,aarti.devgun@gmail.com,544303555,JAN_25,3,live,Y,None
3,15,AASIM AMINUDDIN AMIN UDDIN SHEIKASON,AASIM,SHEIKASON,TEXTURE PROPERTIES L.L.C,asim@textureproperties.com,45897927,JAN_25,14,live,Y,None
4,16,AASIM RADY ELSAID MOHAMMED HASSANIEN,AASIM,HASSANIEN,TIMI PROPERTY,aasim.rady@timi.ae,44528859,JAN_25,5,live,Y,None
...,...,...,...,...,...,...,...,...,...,...,...,...
175,7001,YOUSSOUF DAOUD NGOUH NJIKAM,YOUSSOUF,NJIKAM,F A M REAL ESTATE BROKER L.L.C,youssouf@famproperties.com,43691700,REA_1,70,live,None,None
176,7027,YULIA NORMUKHAMEDOVA,YULIA,NORMUKHAMEDOVA,LUXHABITAT REAL ESTATE L.L.C,jc@luxhabitatsir.com,43396222,REA_1,72,live,None,None
177,7086,ZAYNAH SERAPHINA REHANA BROWN,ZAYNAH,BROWN,ESPACE REAL ESTATE BROKER,zay@espace.ae,97143257744,REA_1,88,live,None,None
178,7092,ZEESHAN ALI GHULAM MURTAZA,ZEESHAN,MURTAZA,H M S HOMES REAL ESTATE,zeeshan@hmshomes.com,40000000,REA_1,18,live,None,None
179,7131,ZIWEI ZHOU,ZIWEI,ZHOU,HUAXIA REAL ESTATE BROKER,tarazhou@huaxia.ae,45897440,REA_1,9,live,None,None

In [43]:
#NAMES IN CLICKUP NOT YET MARKED AS PULLED IN CLICKUP
filter = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE FULL_NAME IN {name_string} AND CLICKUP_IMPORT IS NULL", conn)
filter

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,2,AALIYAH HAZARI KHAN,AALIYAH,KHAN,F A M REAL ESTATE BROKER L.L.C (BRANCH),aaliyah@famproperties.com,42775516,JAN_25,139,live,Y,None
1,7,AAMIR RAZA MUHAMMAD AKARM,AAMIR,AKARM,CIVIL ARCH REAL ESTATE BROKERS,aranjha333@gmail.com,43713401,JAN_25,1,live,Y,None
2,14,AARTI DEVGUN SHARMA,AARTI,SHARMA,ONE STOP REALTY REAL ESTATE,aarti.devgun@gmail.com,544303555,JAN_25,3,live,Y,None
3,15,AASIM AMINUDDIN AMIN UDDIN SHEIKASON,AASIM,SHEIKASON,TEXTURE PROPERTIES L.L.C,asim@textureproperties.com,45897927,JAN_25,14,live,Y,None
4,16,AASIM RADY ELSAID MOHAMMED HASSANIEN,AASIM,HASSANIEN,TIMI PROPERTY,aasim.rady@timi.ae,44528859,JAN_25,5,live,Y,None
...,...,...,...,...,...,...,...,...,...,...,...,...
175,7001,YOUSSOUF DAOUD NGOUH NJIKAM,YOUSSOUF,NJIKAM,F A M REAL ESTATE BROKER L.L.C,youssouf@famproperties.com,43691700,REA_1,70,live,None,None
176,7027,YULIA NORMUKHAMEDOVA,YULIA,NORMUKHAMEDOVA,LUXHABITAT REAL ESTATE L.L.C,jc@luxhabitatsir.com,43396222,REA_1,72,live,None,None
177,7086,ZAYNAH SERAPHINA REHANA BROWN,ZAYNAH,BROWN,ESPACE REAL ESTATE BROKER,zay@espace.ae,97143257744,REA_1,88,live,None,None
178,7092,ZEESHAN ALI GHULAM MURTAZA,ZEESHAN,MURTAZA,H M S HOMES REAL ESTATE,zeeshan@hmshomes.com,40000000,REA_1,18,live,None,None
179,7131,ZIWEI ZHOU,ZIWEI,ZHOU,HUAXIA REAL ESTATE BROKER,tarazhou@huaxia.ae,45897440,REA_1,9,live,None,None

In [44]:
#CONVERT THE NAME_LIST INTO A LIST OF TUPLES FOR EXECUTION BY EXECUTMANY METHOD
stmt = [(i,) for i in name_list]
print(stmt[:10])

[('ZAYNAH SERAPHINA REHANA BROWN',), ('AYUSH KAROLIA ARVIND KAROLIA',), ('VICTORIA MELINDA MILLS BROUILLET',), ('HEINRICH CONRAD BEUKES',), ('ADEL HUSSAIN H ALSHASRMAN',), ('ABDALQADER N A DARABAIH HESHMIYA',), ('FATIMA LAHER',), ('matthew andreas metaxas',), ('ABDELHADY MOHAMED ABDELHADY MORSY',), ('NINA JOSEPHINE KATHLEEN SWANN',)]

In [45]:
#EXECTUMANY
cursor.executemany(f"UPDATE CONTACT_LIST SET CLICKUP_IMPORT = 'Y' WHERE FULL_NAME = ?",stmt)
conn.commit()

In [46]:
#VALIDATION THAT WE MARKED THEM ALL AS IMPORTED INTO CLICKUP
filter = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE FULL_NAME IN {name_string} AND CLICKUP_IMPORT IS NULL", conn)
filter

Empty DataFrame
Columns: [UID, FULL_NAME, FIRST_NAME, LAST_NAME, COMPANY, EMAIL, PHONE, TAG, COMPANY_SIZE, BOUNCED, MAILCHIMP_IMPORT, CLICKUP_IMPORT]
Index: []

In [47]:
cursor.close()