In [22]:
import sqlite3
import pandas as pd
import os
conn = sqlite3.connect('mailchimp_test.db')
cursor = conn.cursor()

In [23]:
query ="""
SELECT * 
FROM CONTACT_LIST 
WHERE PHONE IS NOT NULL
    AND MAILCHIMP_IMPORT IS NOT NULL
    AND CLICKUP_IMPORT IS  NULL
LIMIT 100
"""

SELECT *
FROM CONTACT_LIST
WHERE PHONE IS NOT NULL
    AND MAILCHIMP_IMPORT IS NOT NULL
    AND CLICKUP_IMPORT IS  NULL
LIMIT 100

In [24]:
#sqalchemy query execution
top = pd.read_sql_query(query, conn)
top.head()

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,9,AARON KEITH PARTON,AARON,PARTON,DACHA REAL ESTATE,aaron@dacha.ae,97126666576,JAN_25,52,live,Y,None
1,10,AARON NILE DUNBAR,AARON,DUNBAR,HOUSE HUNTERS REAL ESTATE BROKERS L.L.C,aaron@househuntersdubai.com,504100149,JAN_25,27,live,Y,None
2,18,ABAYOMI FESTUS IDOWU,ABAYOMI,IDOWU,OUTLOOK PROPERTIES,yomi@outlookproperties.ae,504100149,JAN_25,4,live,Y,None
3,23,ABBASALI KASAMALI UJJAINWALLA KASAMALI,ABBASALI,KASAMALI,A M S REAL ESTATE BROKERS,abbasaliu@asteco.net,44766716,JAN_25,7,live,Y,None
4,29,ABDALLAH ABDELGHAFAR ABDELNABY ABDELGHAFAR,ABDALLAH,ABDELGHAFAR,Bhive Real Estate,abdallahelhadidy1@gmail.com,48923223,JAN_25,1,live,Y,None

In [25]:
#CONVERT THE EMAIL COLUMN INTO A STRING TO SQL PROCESSING
email_list = top['EMAIL']
email_string= '('
for i in range(len(email_list)):
    if i < len(email_list)-1:
        email_string = email_string + f"'{email_list[i]}',"
    else:
        email_string = email_string + f"'{email_list[i]}'"
email_string= email_string + ")"
print(email_string)

('aaron@dacha.ae','aaron@househuntersdubai.com','yomi@outlookproperties.ae','abbasaliu@asteco.net','abdallahelhadidy1@gmail.com','houseandhome@ctcdubai.com','abdul.majeed@h4l.ae','abdullrhman064@gmail.com','raziabdul4@gmail.com','ar@tcre.ae','abdul.s@vision-ary.com','aw@redefinedrealtors.ae','abdulaziz6075@gmail.com','algareb-22@hotmail.com','alsaffarrealeatate@gmail.com','abdullah@espace.ae','abdulla.alamir@gmail.com','aeternityrealty@gmail.com','abdalsaadi396@gmail.com','abdullamohdali.001@gmail.com','chairman@ayanaholding.com','nshehab@tidewaterpro.com','jalalnf21@gmail.com','sobia@harbordubai.com','abdulla@gmail.com','farani786@hotmail.com','abdullah.alhelwani@alhprops.com','atouqan@gmail.com','abdullah@fpre.ae','a.aljasim@psidubai.com','fehaidi@emirates.net.ae','info@taseesrealestate.ae','aradam2015@gmail.com','rashid.alkhalaqi@hotmail.com','karan@think-properties.ae','abhishek.goswami@squareyards.ae','abhishek@uniqueproperties.ae','abhishek.k@propertyhome.ae','karen@sobha-me.com','abhishek@h4l.ae','abhishek@epichomesre.com','abhishek.sehgal@cavendishmaxwell.com','abhisheksd36@gmail.com','abid.d@textureproperties.com','midtownrealrestatedxb@gmail.com','abizer.sternon@gmail.com','maniapsc@yahoo.com','abrar.maqsood@thetreehouserealestate.com','abrorbek.alijonov@engelvoelkers.com','abu.dawood@goldcoastuae.com','sami@miranrealestate.com','abutorab@patriot.ae','chris@winningedgeproperty.com','contact@luxurysigniture.com','a.babil@kingdomproperties.ae','trader20132016@gmail.com','adam@whiteandco.net','adam@aquaproperties.com','adam.k@hausandhaus.com','adam.mclaren79@gmail.com','hradmin@airarabia.com','adam.tattan@espace.ae','adam@hausandhaus.com','adeeb.s@cbswap.ae','aurehman2011@gmail.com','adel@theauthentic.ae','adel@divis-dubai.com','adel.m@pureblue.solutions','adel@sycapital.ae','adelina.reapuae@gmail.com','adil.aziz@engelvoelkers.com','adil@faateh.ae','adil.naz5050@gmail.com','adil.safdar@n7corporategroup.com','adilet@evadxb.com','aditi@banke.ae','aditya@famproperties.com','ahmad@kainattproperties.com','a.motiwala@remdubai.com','adnan_alidubai@yahoo.com','adnan@homestation.ae','adnanasher@yahoo.com','adnan@whiteandco.net','adnanghasir97@gmail.com','akobrosli@raywhite.com','adnan@mufaddalproperties.com','adrian@househuntersdubai.com','harn@turnkeyproperties.ae','adrian@pkproperties.ae','a.eyvazova@astroproperties.com','afnanshabi@gmail.com','a.qayum@remdubai.com','read@pleasantpropertiesdubai.com','afsal.basith@sbkrealestate.com','aftab@theauthentic.ae','humayun@expert-homes.com','agathe.tounsi@gmail.com','aghas@patriot.ae','aga@lindas.ae','aga@blackbrickproperty.com')

In [26]:
#VALIDATION SQL THAT USES THE EMAIL_STRING SQL TO VERIFY UPDATES
filter = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE EMAIL IN {email_string} limit 10", conn)
filter

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,9,AARON KEITH PARTON,AARON,PARTON,DACHA REAL ESTATE,aaron@dacha.ae,97126666576,JAN_25,52,live,Y,None
1,10,AARON NILE DUNBAR,AARON,DUNBAR,HOUSE HUNTERS REAL ESTATE BROKERS L.L.C,aaron@househuntersdubai.com,504100149,JAN_25,27,live,Y,None
2,18,ABAYOMI FESTUS IDOWU,ABAYOMI,IDOWU,OUTLOOK PROPERTIES,yomi@outlookproperties.ae,504100149,JAN_25,4,live,Y,None
3,23,ABBASALI KASAMALI UJJAINWALLA KASAMALI,ABBASALI,KASAMALI,A M S REAL ESTATE BROKERS,abbasaliu@asteco.net,44766716,JAN_25,7,live,Y,None
4,29,ABDALLAH ABDELGHAFAR ABDELNABY ABDELGHAFAR,ABDALLAH,ABDELGHAFAR,Bhive Real Estate,abdallahelhadidy1@gmail.com,48923223,JAN_25,1,live,Y,None
5,44,ABDELRAHIM MOHAMED ABDALLA,ABDELRAHIM,ABDALLA,C T C HOUSE & HOME REAL ESTATE,houseandhome@ctcdubai.com,971|552864909,JAN_25,2,live,Y,None
6,67,ABDUL MAJEED ABDULAI,ABDUL,ABDULAI,HOMES 4 LIFE REAL ESTATE BROKER (L.L.C) (BRANCH),abdul.majeed@h4l.ae,49965576,JAN_25,47,live,Y,None
7,79,ABDUL RAHMAN ALI ALWAKAA,ABDUL,ALWAKAA,SAMA AL DAR REAL ESTATE,abdullrhman064@gmail.com,48945648,JAN_25,2,live,Y,None
8,83,ABDUL RAZZAQ ABDUL MAJEED,ABDUL,MAJEED,STOWRICH REAL ESTATE,raziabdul4@gmail.com,0,JAN_25,2,live,Y,None
9,86,ABDUL REHMAN SULTAN ALI,ABDUL,ALI,TOP CLASS REAL ESTATE BROKER (L.L.C),ar@tcre.ae,47409998,JAN_25,9,live,Y,None

In [27]:
#CONVERT THE EMAIL_LIST INTO A LIST OF TUPLES FOR EXECUTION BY EXECUTMANY METHOD
stmt = [(i,) for i in email_list]
print(stmt[:10])

[('aaron@dacha.ae',), ('aaron@househuntersdubai.com',), ('yomi@outlookproperties.ae',), ('abbasaliu@asteco.net',), ('abdallahelhadidy1@gmail.com',), ('houseandhome@ctcdubai.com',), ('abdul.majeed@h4l.ae',), ('abdullrhman064@gmail.com',), ('raziabdul4@gmail.com',), ('ar@tcre.ae',)]

In [28]:
#EXECTUMANY
cursor.executemany(f"UPDATE CONTACT_LIST SET CLICKUP_IMPORT = 'Y' WHERE EMAIL = ?",stmt)
conn.commit()

In [29]:
#pull contacts that were updated
contacts = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE EMAIL IN {email_string}", conn)
contacts.head()

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,9,AARON KEITH PARTON,AARON,PARTON,DACHA REAL ESTATE,aaron@dacha.ae,97126666576,JAN_25,52,live,Y,Y
1,10,AARON NILE DUNBAR,AARON,DUNBAR,HOUSE HUNTERS REAL ESTATE BROKERS L.L.C,aaron@househuntersdubai.com,504100149,JAN_25,27,live,Y,Y
2,18,ABAYOMI FESTUS IDOWU,ABAYOMI,IDOWU,OUTLOOK PROPERTIES,yomi@outlookproperties.ae,504100149,JAN_25,4,live,Y,Y
3,23,ABBASALI KASAMALI UJJAINWALLA KASAMALI,ABBASALI,KASAMALI,A M S REAL ESTATE BROKERS,abbasaliu@asteco.net,44766716,JAN_25,7,live,Y,Y
4,29,ABDALLAH ABDELGHAFAR ABDELNABY ABDELGHAFAR,ABDALLAH,ABDELGHAFAR,Bhive Real Estate,abdallahelhadidy1@gmail.com,48923223,JAN_25,1,live,Y,Y

In [30]:
#Send to csv

top.to_csv(path_or_buf=os.getcwd()+'/db_to_clickup.csv')

In [31]:
cursor.close()